*.pyc

/otls/backup/
hip/backup/
checkpoints/*/
scripts/sd-model-finetuned-lora/*
data/temp/
data/models/
data/dependencies/

#ignore other unimportant expanded HDA files
*.OPfallbacks
*.OPdummydefs
*.createtimes
*.modtimes


