*.pyc

/otls/backup/
hip/backup/
hip/out/*/
checkpoints/*/
data/temp/
data/**/models/
data/**/dependencies/
data/versions/

#ignore other unimportant expanded HDA files
*.OPfallbacks
*.OPdummydefs
*.createtimes
*.modtimes
*.local
hip/out/