*.pyc

/otls/backup/
hip/backup/
checkpoints/*/
scripts/sd-model-finetuned-lora/*
data/*/

#ignore other unimportant expanded HDA files
*.OPfallbacks
*.OPdummydefs
*.createtimes
*.modtimes
/data/dependencies/python/

