cython
setuptools==68.0.0
openai==0.27.8
omegaconf==2.3.0
transformers==4.31.0
accelerate>=0.20.3
geopandas==0.13.2
scikit-learn==1.3.0
scipy==1.11.1
timm==0.6.7
controlnet_aux==0.0.6
torchmetrics==1.0.1
clip_interrogator==0.6.0
diffusers==0.19.3
xformers==0.0.20
ftfy==6.1.1
Jinja2<3.1
rembg[gpu]==2.0.50
basicsr>=1.4.2
facexlib==0.3.0
gfpgan==1.3.8
safetensors==0.3.1
umap-learn==0.5.3
compel==2.0.1
mediapipe==0.10.2
bitsandbytes @ git+https://github.com/Keith-Hon/bitsandbytes-windows.git; platform_system == "Windows"
bitsandbytes; platform_system == "Linux" or platform_system == "Darwin"
dominate==2.8.0
tensorboard==2.13.0

#MotionBert
#tensorboardX
#matplotlib==3.1.1
tqdm
easydict
prettytable
chumpy
opencv-python
imageio-ffmpeg
roma
ipdb
pytorch-metric-learning                         # For one-shot action recognition
smplx[all]                                      # For mesh recovery

--extra-index-url "https://download.pytorch.org/whl/cu118"
torch
torchvision
torchaudio




