cython
setuptools
openai
omegaconf
transformers
accelerate
geopandas
scikit-learn
scipy
timm==0.6.7
controlnet_aux==0.0.6
torchmetrics
clip_interrogator
diffusers==0.19.3
xformers==0.0.20
ftfy
Jinja2
rembg[gpu]
basicsr
facexlib
gfpgan
safetensors
umap-learn
compel
mediapipe

dominate
tensorboard

#MotionBert
#tensorboardX
#matplotlib==3.1.1
tqdm
easydict
prettytable
chumpy
opencv-python
imageio-ffmpeg
roma
ipdb
pytorch-metric-learning                         # For one-shot action recognition
smplx[all]                                      # For mesh recovery

--extra-index-url "https://download.pytorch.org/whl/cu118"
torch
torchvision
torchaudio




